{{>header}}
<main role="main" class="inner cover mt-5">
    {{#if loggedIn}}
    <div id="sharedRecipes">
        <h1 style="text-align:center">Our Recipies</h1>
        {{#each recipes}}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="our-team-main">

                        <div class="team-front">
                            <img src="{{foodImageURL}}" />
                            <h3>{{meal}}</h3>
                            <p>{{category}}</p>
                        </div>

                        <div class="team-back">
                            <div class="back-side-info">
                                <h4>Ingredients</h4>
                                <ul>
                                    {{#each this.ingredients}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                                <a href="#/viewRecipe/{{_id}}">View the recepie</a>
                            </div>

                            <img class="foodImage"
                                src="https://image.shutterstock.com/image-photo/roasted-dorado-fish-brussels-sprouts-260nw-435521527.jpg" />
                            </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <h1 class="cover-heading">Coooooking University</h1>
    <p class="lead">They say that food passes through the stomach, we say that food passes through CookUni...
    </p>
    {{/if}}
</main>
{{>footer}}